*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Roboto', sans-serif;
  color: #33475B;
  z-index: 0;
}

p, span, a, select, i{
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
}

body{
  height: 200vh;
}

/* utility */
/* utility float */
.row:after{
  content: "";
  display: table;
  clear: both;
  }

[class^='col']{
  float: left;
  padding: 0 15px;
}

.flt-dx{
  float: right;
  padding: 0 15px;
}

.row{
  margin: 0 -15px;
}

.col-100{
  width: 100%;
}

.col-66{
  width: calc(100% / 3 * 2);
}

.col-50{
  width: 50%;
}

.col-33{
  width: calc(100% / 3);
}
/* f-utility float */

.container{
  width: 69vw;
  margin: 0 auto;
}

.mt-1{
  margin-top: 1em;
}

.mt-2{
  margin-top: 2em;
}

[class^='btn']{
  border-radius: 4px;
  font-size: 11px;
}

.btn-pink{
  background-color: #FE775A;
  color: #ffffff;
}

.btn-hub{
  padding: 13px 33px;
}

.btn-hub:after{
  content: "GetHubspotFree";
}

select{
  border: none;
}

h1{
  font-size: 43px;
  font-weight: 800;
}

h2{
  font-size: 27px;
  font-weight: 800;
}

.center{
  text-align: center;
}

.bord-grey{
  border-radius: 5px;
  border: 1px solid #E9EFE4;
  box-shadow: 1px 1px 5px grey;
}
/* f-utility */


/* header */
.login, .logo-nav{
  height: 65px;
  line-height: 65px;
}

.login .flt-dx *, nav .flt-dx *{
  margin-left: 15px;
  vertical-align: middle;
}


/* header riga1 login */
#fixed1{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  z-index: 500;
  height: 65px;
  width: 100vw;
}

#fixed2{
  position: fixed;
  top: 65px;
  left: 0;
  z-index: 1000;
  width: 100vw;
}

#spaceup{
  height: 65px;
  width: 98vw;
}

.login select{
  margin-left: -2px;
}

.login .col a{
  border-left: 1px solid #33475B;
  margin-left: 10px;
  padding-left: 20px;
}

header .login [class^='btn']{
  padding: 8px 9px;
}

.btn-login{
  border: 1px solid #FE775A;
  color: #FE775A;
}

.login .flt-dx i{
  color: #01A6BE;
}
/* f-header riga1 login*/


/* header riga2 nav */
header img{
  width: 85px;
  vertical-align: middle;
}

nav select{
  padding-right: 10px;
}
/* f-header riga2 nav */


/* header jumbo */
.jumbo{
  background-image: url("../img/jumbotron.png");
  background-color: #FFF4EF;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  padding: 45px 0 142px 0;
  position: relative;
}

.jumbo *{
  margin-bottom: 20px;
}

.jumbo .col{
  width: 500px;
}

.jumbo a{
  display: inline-block;
}

.jumbo span{
  display: block;
  font-size: 10px;
}

.jumbo-bottom{
  position: absolute;
  bottom: -19px;
  height: 67px;
  width: 100%;
  background-color: #AFEBE4;
  border-top: 2px solid #33475B;
  border-bottom: 3px solid #33475B;
}
/* f-header jumbo */
/* f-header */

/* main */
.power img{
  width: 200px;
}

.power p{
  display: inline-block;
  width: 631px;
}

.crm{

}
.crm img{
  width: 100px;
}
/* f-main */
