*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Roboto', sans-serif;
  color: #33475B;
  z-index: 0;
}

p, span, a, select, i{
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
}

body{
  height: 500vh;
}

/* utility */
/* utility float */
.row:after{
  content: "";
  display: table;
  clear: both;
  }

[class^='col']{
  float: left;
  padding: 0 15px;
}

.flt-dx{
  float: right;
  padding: 0 15px;
}

.row{
  margin: 0 -15px;
}

.col-100{
  width: 100%;
}

.col-66{
  width: calc(100% / 3 * 2);
}

.col-50{
  width: 50%;
}

.col-33{
  width: calc(100% / 3);
}

.col-25{
  width: 25%;
}
/* f-utility float */

.container{
  width: 69vw;
  margin: 0 auto;
}

.mt-05{
  margin-top: 0.5em;


}

.mt-1{
  margin-top: 1em;
}

.mt-2{
  margin-top: 2em;
}

.mt-15{
  margin-top: 1.5em;
}

[class^='btn']{
  border-radius: 4px;
  font-size: 11px;
  display: inline-block;
}

.btn-pink{
  background-color: #FE775A;
  color: #ffffff;
}

.btn-hub{
  padding: 13px 33px;
}

.btn-hub:after{
  content: "GetHubspotFree";
}

.btn-learn{
  padding: 13px 33px;
}

.btn-learn:after{
  content: "Learn More";
}

select{
  border: none;
}

h1{
  font-size: 43px;
  font-weight: 800;
}

h2{
  font-size: 27px;
  font-weight: 800;
}

h3{
  font-size: 20px;
  font-weight: 800;
}

h4{
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
}

.left{
  text-align: left;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.bord-grey{
  border-radius: 7px;
  box-shadow: 1px 1px 10px 2px #dce7f2;
}

.fa-check-circle{
  color: #FE775A;
}

.icon{
  width: 100px;
}

/* f-utility */


/* header */
.login, .logo-nav{
  height: 65px;
  line-height: 65px;
}

.login .flt-dx *, nav .flt-dx *{
  margin-left: 15px;
  vertical-align: middle;
}


/* header riga1 login */
#fixed1{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  z-index: 500;
  height: 65px;
  width: 100vw;
}

#fixed2{
  position: fixed;
  top: 65px;
  left: 0;
  z-index: 1000;
  width: 100vw;
}

#spaceup{
  height: 65px;
  width: 98vw;
}

.login select{
  margin-left: -2px;
}

.login .col a{
  border-left: 1px solid #33475B;
  margin-left: 10px;
  padding-left: 20px;
}

header .login [class^='btn']{
  padding: 8px 9px;
}

.btn-login{
  border: 1px solid #FE775A;
  color: #FE775A;
}

.login .flt-dx i{
  color: #01A6BE;
}
/* f-header riga1 login*/


/* header riga2 nav */
header img{
  width: 85px;
  vertical-align: middle;
}

nav select{
  padding-right: 10px;
}
/* f-header riga2 nav */


/* header jumbo */
.jumbo{
  background-image: url("../img/jumbotron.png");
  background-color: #FFF4EF;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  padding: 45px 0 142px 0;
  position: relative;
}

.jumbo *{
  margin-bottom: 20px;
}

.jumbo .col{
  width: 500px;
}

.jumbo span{
  display: block;
  font-size: 10px;
}

.jumbo-bottom{
  position: absolute;
  bottom: -19px;
  height: 67px;
  width: 100%;
  background-color: #AFEBE4;
  border-top: 2px solid #33475B;
  border-bottom: 3px solid #33475B;
}
/* f-header jumbo */
/* f-header */


/* main */
/* main power */

.power p{
  display: inline-block;
  width: 631px;
}
/* f-main power */

/* main CRM */
.crm .pop{
  margin: 53px 0;
  vertical-align: middle;
}

.crm .book{
  margin: 60px 0;
}

.crm img{
  margin-bottom: 27px;
}

.crm .col-66{
  text-align: left;
}

.crm .col-66 .pop *{
  margin-bottom: 15px;
}

.crm .col-66 p{
  padding-right: 125px;
}

.crm .col-66 h4{
  display: inline-block;
}

.crm .col-66 hr{
  width: 350px;
  display: inline-block;
  margin: 9px 0 4px 40px;
}

.crm .col-66 i{
  margin-right: 8px;
}

.crm .col-66 span{
  margin-right: 15px;
}
/* f-main CRM */

/* main tris */
.tris .col-33:first-child{
  padding-left: 0;
}

.tris .col-33:last-child{
  padding-right: 0;
}

.tris .col-33{
  padding: 0 25px;
}

.tris .bord-grey > div:first-child{
  margin: 0 auto;
  width: 215px;
  padding: 20px 0;
}

.tris img{
  width: 75px;
}

.sales img.special{
  width: 95px;
}

.tris h3, .tris p{
  margin-top: 17px;
}

.tris hr{
  margin-top: 45px;
}

.tris h4{
  margin: 25px 0 20px;
}

.tris .list{
  text-align: left;
}

.tris .list .item{
  margin-bottom: -10px;
}

.tris .list .item span{
  margin-left: 6px;
}

.tris .btn-learn{
  margin-top: 40px;
}
/* f-main tris */



/* main fade */
.fade *{
  color: #ffffff;
}

.fade{
  padding-bottom: 4em;
  background-color: #00AAB8;
  background-image: linear-gradient(to right, #00AAB8 , #00BBA8);
}

.fade .table .col-25{
  padding: 1em 0;
  vertical-align: middle;
}

.fade .table .b-right{
  border-right: 1px solid #ffffff;
}

.fade .table .b-bottom{
  border-bottom: 1px solid #ffffff;
}

.fade .table h2{
  font-size: 35px;
}

.fade .table h2:after{
  content: "+";
  font-weight: normal;
  font-size: 20px;
  vertical-align: middle;
  margin-left: 5px;
}

.fade .table img{
  height: 26.25px;
}

.fade .table span{
  font-size: 10px;
  display: block;
}
/* f-main fade */


/* main customers */
.customers{
  width: 59vw;
  margin: 0 auto;
}

.customers .col{
  width: 200px;
}

.customers .col h1{
  font-size: 38px;
}

.customers .flt-dx{
  width: 520px;
}

.customers .flt-dx .col-25{
  text-align: right;
  vertical-align: middle;
  padding: 0 0;
}

.customers .flt-dx img{
  max-height: 80%;
  max-width: 80%
}
/* f-main customers */

/* f-main */
